<a href="https://colab.research.google.com/github/rahiakela/data-science-research-and-practice/blob/main/data-extraction-works/01-tabulapy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q tabula-py

##Loading pdf into Pandas

In [140]:
import tabula

# Read pdf into DataFrame
dfs = tabula.read_pdf("redacted1.pdf", lattice=True, relative_area=True, multiple_tables=True, pages=2)

# convert PDF into CSV
#tabula.convert_into("redacted1.pdf", "output.csv", output_format="csv")

WARNING:tabula.io:Got stderr: Oct 18, 2022 11:07:07 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Oct 18, 2022 11:07:07 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [185]:
dfs[6]

   Unnamed: 0  Unnamed: 1  Unnamed: 2
0         NaN         NaN         NaN

In [178]:
dfs[1].columns[0]

'Encounter'

In [116]:
len(dfs[6].value_counts())

4

In [186]:
data_df = []
for idx in range(len(dfs)):
  if dfs[idx].columns[0] != "Unnamed: 0":
    data_df.append(dfs[idx])

In [187]:
len(data_df)

2

In [167]:
data_df[1]

,Test Name,Results,Reference Range,Score,Unnamed: 0,Unnamed: 1
0,HEMOGLOBIN,11.3 L,11.7-15.5 g/dL,5,NaN,NaN
1,RDW,16.5 H,11.0-15.0 %,5,NaN,NaN
2,Encounter,Specimen,Service Date,High Score,NaN,NaN
3,25,NaN,2021-06-23,5,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,Diagnosis Code,Description,Code Type,Score,NaN,NaN
6,D649,"Anemia, unspecified",ICD10,5,NaN,NaN
7,D709,"Neutropenia, unspecified",ICD10,5,NaN,NaN
8,Z79899,Other long term (current) drug therapy,ICD10,5,NaN,NaN
9,Test Name,Results,Reference Range,Score,NaN,NaN
10,"IRON, TOTAL",31 L,40-190 mcg/dL,5,NaN,NaN
11,% SATURATION,8 L,16-45 % (calc),5,NaN,NaN
12,FERRITIN,3 L,16-154 ng/mL,5,NaN,NaN
13,RED BLOOD CELL COUNT,3.75 L,3.80-5.10 Million/uL,5,NaN,NaN
14,HEMOGLOBIN,10.3 L,11.7-15.5 g/dL,5,NaN,NaN
15,HEMATOCRIT,32.6 L,35.0-45.0 %,5,NaN,NaN
16,MCHC,31.6 L,32.0-36.0 g/dL,5,NaN,NaN
17,Encounter,Specimen,Service Date,High Score,NaN,NaN
18,24,NaN,2021-06-03,5,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN
20,Diagnosis Code,Description,Code Type,Score,NaN,NaN
21,D649,"Anemia, unspecified",ICD10,5,NaN,NaN
22,D709,"Neutropenia, unspecified",ICD10,5,NaN,NaN
23,Test Name,Results,Reference Range,Score,NaN,NaN
24,RED BLOOD CELL COUNT,3.63 L,3.80-5.10 Million/uL,5,NaN,NaN
25,HEMOGLOBIN,10.1 L,11.7-15.5 g/dL,5,NaN,NaN
26,HEMATOCRIT,31.3 L,35.0-45.0 %,5,NaN,NaN
27,ABSOLUTE NEUTROPHILS,1428 L,1500-7800 cells/uL,5,NaN,NaN
28,Encounter,Specimen,Service Date,High Score,NaN,NaN
29,23,NaN,2021-04-29,5,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN

##Save Dataframe into JSON file

In [168]:
# drop column that has named "Unnamed: xxx"
data_df = data_df[1][data_df[1].columns.drop(list(data_df[1].filter(regex='Unnamed')))]
data_df

,Test Name,Results,Reference Range,Score
0,HEMOGLOBIN,11.3 L,11.7-15.5 g/dL,5
1,RDW,16.5 H,11.0-15.0 %,5
2,Encounter,Specimen,Service Date,High Score
3,25,NaN,2021-06-23,5
4,NaN,NaN,NaN,NaN
5,Diagnosis Code,Description,Code Type,Score
6,D649,"Anemia, unspecified",ICD10,5
7,D709,"Neutropenia, unspecified",ICD10,5
8,Z79899,Other long term (current) drug therapy,ICD10,5
9,Test Name,Results,Reference Range,Score
10,"IRON, TOTAL",31 L,40-190 mcg/dL,5
11,% SATURATION,8 L,16-45 % (calc),5
12,FERRITIN,3 L,16-154 ng/mL,5
13,RED BLOOD CELL COUNT,3.75 L,3.80-5.10 Million/uL,5
14,HEMOGLOBIN,10.3 L,11.7-15.5 g/dL,5
15,HEMATOCRIT,32.6 L,35.0-45.0 %,5
16,MCHC,31.6 L,32.0-36.0 g/dL,5
17,Encounter,Specimen,Service Date,High Score
18,24,NaN,2021-06-03,5
19,NaN,NaN,NaN,NaN
20,Diagnosis Code,Description,Code Type,Score
21,D649,"Anemia, unspecified",ICD10,5
22,D709,"Neutropenia, unspecified",ICD10,5
23,Test Name,Results,Reference Range,Score
24,RED BLOOD CELL COUNT,3.63 L,3.80-5.10 Million/uL,5
25,HEMOGLOBIN,10.1 L,11.7-15.5 g/dL,5
26,HEMATOCRIT,31.3 L,35.0-45.0 %,5
27,ABSOLUTE NEUTROPHILS,1428 L,1500-7800 cells/uL,5
28,Encounter,Specimen,Service Date,High Score
29,23,NaN,2021-04-29,5
30,NaN,NaN,NaN,NaN

In [169]:
# Drop row that has all NaN values
data_df= data_df.dropna(how="all", axis=0)
data_df

,Test Name,Results,Reference Range,Score
0,HEMOGLOBIN,11.3 L,11.7-15.5 g/dL,5
1,RDW,16.5 H,11.0-15.0 %,5
2,Encounter,Specimen,Service Date,High Score
3,25,NaN,2021-06-23,5
5,Diagnosis Code,Description,Code Type,Score
6,D649,"Anemia, unspecified",ICD10,5
7,D709,"Neutropenia, unspecified",ICD10,5
8,Z79899,Other long term (current) drug therapy,ICD10,5
9,Test Name,Results,Reference Range,Score
10,"IRON, TOTAL",31 L,40-190 mcg/dL,5
11,% SATURATION,8 L,16-45 % (calc),5
12,FERRITIN,3 L,16-154 ng/mL,5
13,RED BLOOD CELL COUNT,3.75 L,3.80-5.10 Million/uL,5
14,HEMOGLOBIN,10.3 L,11.7-15.5 g/dL,5
15,HEMATOCRIT,32.6 L,35.0-45.0 %,5
16,MCHC,31.6 L,32.0-36.0 g/dL,5
17,Encounter,Specimen,Service Date,High Score
18,24,NaN,2021-06-03,5
20,Diagnosis Code,Description,Code Type,Score
21,D649,"Anemia, unspecified",ICD10,5
22,D709,"Neutropenia, unspecified",ICD10,5
23,Test Name,Results,Reference Range,Score
24,RED BLOOD CELL COUNT,3.63 L,3.80-5.10 Million/uL,5
25,HEMOGLOBIN,10.1 L,11.7-15.5 g/dL,5
26,HEMATOCRIT,31.3 L,35.0-45.0 %,5
27,ABSOLUTE NEUTROPHILS,1428 L,1500-7800 cells/uL,5
28,Encounter,Specimen,Service Date,High Score
29,23,NaN,2021-04-29,5

In [170]:
# save to json file
out_file = data_df.to_json('test.json', date_format='iso', orient='records')

In [171]:
!cat test.json

[{"Test Name":"HEMOGLOBIN","Results":"11.3 L","Reference Range":"11.7-15.5 g\/dL","Score":"5"},{"Test Name":"RDW","Results":"16.5 H","Reference Range":"11.0-15.0 %","Score":"5"},{"Test Name":"Encounter","Results":"Specimen","Reference Range":"Service Date","Score":"High Score"},{"Test Name":"25","Results":null,"Reference Range":"2021-06-23","Score":"5"},{"Test Name":"Diagnosis Code","Results":"Description","Reference Range":"Code Type","Score":"Score"},{"Test Name":"D649","Results":"Anemia, unspecified","Reference Range":"ICD10","Score":"5"},{"Test Name":"D709","Results":"Neutropenia, unspecified","Reference Range":"ICD10","Score":"5"},{"Test Name":"Z79899","Results":"Other long term (current) drug therapy","Reference Range":"ICD10","Score":"5"},{"Test Name":"Test Name","Results":"Results","Reference Range":"Reference Range","Score":"Score"},{"Test Name":"IRON, TOTAL","Results":"31 L","Reference Range":"40-190 mcg\/dL","Score":"5"},{"Test Name":"% SATURATION","Results":"8 L","Reference Range":"16-45 % (calc)","Score":"5"},{"Test Name":"FERRITIN","Results":"3 L","Reference Range":"16-154 ng\/mL","Score":"5"},{"Test Name":"RED BLOOD CELL COUNT","Results":"3.75 L","Reference Range":"3.80-5.10 Million\/uL","Score":"5"},{"Test Name":"HEMOGLOBIN","Results":"10.3 L","Reference Range":"11.7-15.5 g\/dL","Score":"5"},{"Test Name":"HEMATOCRIT","Results":"32.6 L","Reference Range":"35.0-45.0 %","Score":"5"},{"Test Name":"MCHC","Results":"31.6 L","Reference Range":"32.0-36.0 g\/dL","Score":"5"},{"Test Name":"Encounter","Results":"Specimen","Reference Range":"Service Date","Score":"High Score"},{"Test Name":"24","Results":null,"Reference Range":"2021-06-03","Score":"5"},{"Test Name":"Diagnosis Code","Results":"Description","Reference Range":"Code Type","Score":"Score"},{"Test Name":"D649","Results":"Anemia, unspecified","Reference Range":"ICD10","Score":"5"},{"Test Name":"D709","Results":"Neutropenia, unspecified","Reference Range":"ICD10","Score":"5"},{"Test Name":"Test Name","Results":"Results","Reference Range":"Reference Range","Score":"Score"},{"Test Name":"RED BLOOD CELL COUNT","Results":"3.63 L","Reference Range":"3.80-5.10 Million\/uL","Score":"5"},{"Test Name":"HEMOGLOBIN","Results":"10.1 L","Reference Range":"11.7-15.5 g\/dL","Score":"5"},{"Test Name":"HEMATOCRIT","Results":"31.3 L","Reference Range":"35.0-45.0 %","Score":"5"},{"Test Name":"ABSOLUTE NEUTROPHILS","Results":"1428 L","Reference Range":"1500-7800 cells\/uL","Score":"5"},{"Test Name":"Encounter","Results":"Specimen","Reference Range":"Service Date","Score":"High Score"},{"Test Name":"23","Results":null,"Reference Range":"2021-04-29","Score":"5"}]

In [172]:
def save_data_into_json(df, idx):
  # drop column that has named "Unnamed: xxx"
  data_df = df[df.columns.drop(list(df.filter(regex="Unnamed")))]
  # Drop row that has all NaN values
  data_df= data_df.dropna(how="all", axis=0)
  # save to json file
  data_df.to_json(f"data/test-{idx}.json", date_format="iso", orient="records")

In [189]:
!mkdir data

In [190]:
for idx in range(len(dfs)):
  if dfs[idx].columns[0] != "Unnamed: 0":
    save_data_into_json(dfs[idx], idx)

##Further practice

In [ ]:
tabula.read_pdf("redacted1.pdf", pages="all", stream=True)

In [72]:
dfs = tabula.read_pdf(
    "redacted1.pdf",
    lattice=True,
    #pandas_options={"header": [0, 1]},
    # area=[0, 0, 50, 100],
    relative_area=True,
    multiple_tables=True,
    pages=1,
)

WARNING:tabula.io:Got stderr: Oct 18, 2022 10:37:58 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Oct 18, 2022 10:37:59 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [75]:
df = dfs[0].drop(["Unnamed: 0"], axis=1)
df

Empty DataFrame
Columns: []
Index: []

In [79]:
len(df)

0

In [61]:
dfs[9]

   Unnamed: 0  Unnamed: 1
0         NaN         NaN

In [ ]:
len(dfs[6].value_counts())

4

In [62]:
data_idx = []
for idx in range(len(dfs)):
  if len(dfs[idx].value_counts()) > 0:
    data_idx.append(idx)

In [63]:
data_idx

[6, 7]

In [68]:
dfs[8]

,Encounter,Specimen,Service Date,High Score,Unnamed: 0,Unnamed: 1
0,30,NaN,2021-09-24,5,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Diagnosis Code,Description,Code Type,Score,NaN,NaN
3,D649,"Anemia, unspecified",ICD10,5,NaN,NaN
4,E611,Iron deficiency,ICD10,5,NaN,NaN
5,I951,Orthostatic hypotension,ICD10,5,NaN,NaN
6,N920,Excessive and frequent menstruation with regul...,ICD10,5,NaN,NaN
7,R197,"Diarrhea, unspecified",ICD10,5,NaN,NaN
8,R7889,"Finding of other specified substances, not nor...",ICD10,5,NaN,NaN
9,Test Name,Results,Reference Range,Score,NaN,NaN
10,GLUCOSE,100 H,65-99 mg/dL,5,NaN,NaN
11,WHITE BLOOD CELL COUNT,3.2 L,3.8-10.8 Thousand/uL,5,NaN,NaN
12,RDW,15.6 H,11.0-15.0 %,5,NaN,NaN
13,ABSOLUTE NEUTROPHILS,1459 L,1500-7800 cells/uL,5,NaN,NaN

In [8]:
data_df = None
for idx in range(len(dfs)):
  if len(dfs[idx].value_counts()) > 0:
    data_df = dfs[idx]
data_df

,Condition,Provider\rGenerated,Demographic\rPrevalence,Confidence,Contributing Factors
0,Oth symptoms and signs w\rcognitive functions ...,False,1.4%,99.0%,"Amorphous Sediment [Presence],Platelet\r[Prese..."
1,Any Muscle Disease,True,43.5%,89.5%,"R29-Nervous Systom\rSymp.,Sodium,Hydromorphone..."
2,Abnormalities of breathing,False,5.7%,57.2%,"LE,HDL,Free T4 Index,GFR - MDRD"
3,Other anemias,True,4.0%,52.2%,"Total Bilirubin,ALP,Hemoglobin,D50-Anemia(Iron)"

In [13]:
tabula.convert_into("redacted1.pdf", "test.json", output_format="json")

WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.
WARNING:tabula.io:Got stderr: Oct 18, 2022 9:53:01 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Oct 18, 2022 9:53:01 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [14]:
!cat test.json

[{"extraction_method":"stream","top":249.0,"left":41.0,"width":523.0,"height":116.0,"right":564.0,"bottom":365.0,"data":[[{"top":256.81,"left":71.71,"width":48.05000305175781,"height":4.630000114440918,"text":"Condition"},{"top":256.81,"left":161.93,"width":43.350006103515625,"height":4.630000114440918,"text":"Provider"},{"top":256.81,"left":222.26,"width":66.68000793457031,"height":4.630000114440918,"text":"Demographic"},{"top":256.81,"left":300.38,"width":55.839996337890625,"height":4.630000114440918,"text":"Confidence"},{"top":256.81,"left":414.65,"width":98.8900146484375,"height":4.630000114440918,"text":"Contributing Factors"}],[{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":267.97,"left":158.9,"width":50.850006103515625,"height":4.630000114440918,"text":"Generated"},{"top":267.97,"left":229.18,"width":52.810001373291016,"height":4.630000114440918,"text":"Prevalence"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""}],[{"top":282.21,"left":44.5,"width":98.25,"height":3.700000047683716,"text":"Oth symptoms and signs w"},{"top":282.21,"left":173.81,"width":20.6719970703125,"height":3.700000047683716,"text":"False"},{"top":282.21,"left":246.53,"width":19.34197998046875,"height":3.700000047683716,"text":"1.4%"},{"top":282.21,"left":316.3,"width":23.781982421875,"height":3.700000047683716,"text":"99.0%"},{"top":282.21,"left":365.62,"width":148.5,"height":3.700000047683716,"text":"Amorphous Sediment [Presence],Platelet"}],[{"top":291.21,"left":44.5,"width":83.59000396728516,"height":3.700000047683716,"text":"cognitive functions and"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":291.21,"left":365.62,"width":99.16000366210938,"height":3.700000047683716,"text":"[Presence],Methadone,ESR"}],[{"top":300.21,"left":44.5,"width":38.68000030517578,"height":3.700000047683716,"text":"awareness"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""}],[{"top":313.24,"left":44.5,"width":73.5719985961914,"height":3.700000047683716,"text":"Any Muscle Disease"},{"top":313.24,"left":175.39,"width":17.561996459960938,"height":3.700000047683716,"text":"True"},{"top":313.24,"left":244.3,"width":23.781967163085938,"height":3.700000047683716,"text":"43.5%"},{"top":313.24,"left":316.3,"width":23.781982421875,"height":3.700000047683716,"text":"89.5%"},{"top":313.24,"left":365.62,"width":78.23001098632812,"height":3.700000047683716,"text":"R29-Nervous Systom"}],[{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":322.24,"left":365.62,"width":141.8199920654297,"height":3.700000047683716,"text":"Symp.,Sodium,Hydromorphone,Free T4"}],[{"top":335.28,"left":44.5,"width":94.0419921875,"height":3.700000047683716,"text":"Abnormalities of breathing"},{"top":335.28,"left":173.81,"width":20.6719970703125,"height":3.700000047683716,"text":"False"},{"top":335.28,"left":246.53,"width":19.34197998046875,"height":3.700000047683716,"text":"5.7%"},{"top":335.28,"left":316.3,"width":23.781982421875,"height":3.700000047683716,"text":"57.2%"},{"top":335.28,"left":365.62,"width":130.25,"height":3.700000047683716,"text":"LE,HDL,Free T4 Index,GFR - MDRD"}],[{"top":353.28,"left":44.5,"width":53.571998596191406,"height":3.700000047683716,"text":"Other anemias"},{"top":353.28,"left":175.39,"width":17.561996459960938,"height":3.700000047683716,"text":"True"},{"top":353.28,"left":246.53,"width":19.34197998046875,"height":3.700000047683716,"text":"4.0%"},{"top":353.28,"left":316.3,"width":23.781982421875,"height":3.700000047683716,"text":"52.2%"},{"top":353.28,"left":365.62,"width":176.49002075195312,"height":3.700000047683716,"text":"Total Bilirubin,ALP,Hemoglobin,D50-Anemia(Iron)"}]]},{"extraction_method":"stream","top":392.0,"left":41.0,"width":204.0,"height":39.0,"right":245.0,"bottom":431.0,"data":[[{"top":403.61,"left":49.46,"width":82.5199966430664,"height":4.630000114440918,"text":"Response Status"},{"top":403.61,"left":139.68,"width":102.24000549316406,"height":4.630000114440918,"text":"Total # of Encounters"}],[{"top":421.82,"left":50.4,"width":10.881999969482422,"height":3.700000047683716,"text":"Hit"},{"top":421.82,"left":186.34,"width":8.890002250671387,"height":3.700000047683716,"text":"30"}]]},{"extraction_method":"stream","top":459.0,"left":46.0,"width":497.0,"height":263.0,"right":543.0,"bottom":722.0,"data":[[{"top":468.2,"left":50.9,"width":112.70999908447266,"height":4.630000114440918,"text":"Encounter Specimen"},{"top":468.2,"left":178.78,"width":61.41999816894531,"height":4.630000114440918,"text":"Service Date"},{"top":468.2,"left":250.85,"width":52.789981842041016,"height":4.630000114440918,"text":"High Score"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""}],[{"top":486.4,"left":48.82,"width":10.001998901367188,"height":3.700000047683716,"text":"30"},{"top":486.4,"left":174.82,"width":42.02198791503906,"height":3.700000047683716,"text":"2021-09-24"},{"top":486.4,"left":270.72,"width":4.449999809265137,"height":3.700000047683716,"text":"5"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""}],[{"top":502.76,"left":57.53,"width":76.96000671386719,"height":4.630000114440918,"text":"Diagnosis Code"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":502.76,"left":251.57,"width":56.399993896484375,"height":4.630000114440918,"text":"Description"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":502.76,"left":424.51,"width":52.510009765625,"height":4.630000114440918,"text":"Code Type"},{"top":502.76,"left":515.16,"width":27.790040969848633,"height":4.630000114440918,"text":"Score"}],[{"top":521.4,"left":48.82,"width":170.00570678710938,"height":3.700000047683716,"text":"D649 Anemia, unspecified"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":521.4,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":523.92,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":540.91,"left":48.82,"width":149.56167602539062,"height":3.700000047683716,"text":"E611 Iron deficiency"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":540.91,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":543.43,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":560.35,"left":48.82,"width":182.03341674804688,"height":3.700000047683716,"text":"I951 Orthostatic hypotension"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":560.35,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":562.87,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":579.86,"left":48.82,"width":293.56744384765625,"height":3.700000047683716,"text":"N920 Excessive and frequent menstruation with regular cycle"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":579.86,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":582.38,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":599.37,"left":48.82,"width":173.55569458007812,"height":3.700000047683716,"text":"R197 Diarrhea, unspecified"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":599.37,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":601.89,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":618.88,"left":48.82,"width":330.5780029296875,"height":3.700000047683716,"text":"R7889 Finding of other specified substances, not normally found in blood"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":618.88,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":621.4,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":640.71,"left":136.73,"width":51.96000671386719,"height":4.630000114440918,"text":"Test Name"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":640.71,"left":313.13,"width":37.510009765625,"height":4.630000114440918,"text":"Results"},{"top":640.71,"left":391.18,"width":83.08001708984375,"height":4.630000114440918,"text":"Reference Range"},{"top":640.71,"left":511.7,"width":27.789979934692383,"height":4.630000114440918,"text":"Score"}],[{"top":658.92,"left":48.82,"width":40.67200469970703,"height":3.700000047683716,"text":"GLUCOSE"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":658.92,"left":320.54,"width":22.46197509765625,"height":3.700000047683716,"text":"100 H"},{"top":658.92,"left":387.22,"width":46.022003173828125,"height":3.700000047683716,"text":"65-99 mg/dL"},{"top":658.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":676.92,"left":48.82,"width":111.7719955444336,"height":3.700000047683716,"text":"WHITE BLOOD CELL COUNT"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":676.92,"left":322.13,"width":19.342010498046875,"height":3.700000047683716,"text":"3.2 L"},{"top":676.92,"left":387.22,"width":79.38201904296875,"height":3.700000047683716,"text":"3.8-10.8 Thousand/uL"},{"top":676.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":694.92,"left":48.82,"width":20.211997985839844,"height":3.700000047683716,"text":"RDW"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":694.92,"left":319.46,"width":24.6920166015625,"height":3.700000047683716,"text":"15.6 H"},{"top":694.92,"left":387.22,"width":44.241973876953125,"height":3.700000047683716,"text":"11.0-15.0 %"},{"top":694.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":712.92,"left":48.82,"width":104.67198944091797,"height":3.700000047683716,"text":"ABSOLUTE NEUTROPHILS"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":712.92,"left":318.74,"width":26.02203369140625,"height":3.700000047683716,"text":"1459 L"},{"top":712.92,"left":387.22,"width":68.70199584960938,"height":3.700000047683716,"text":"1500-7800 cells/uL"},{"top":712.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}]]},{"extraction_method":"stream","top":495.0,"left":46.0,"width":526.0,"height":227.0,"right":572.0,"bottom":722.0,"data":[[{"top":502.76,"left":57.53,"width":76.96000671386719,"height":4.630000114440918,"text":"Diagnosis Code"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":502.76,"left":251.57,"width":56.399993896484375,"height":4.630000114440918,"text":"Description"},{"top":502.76,"left":424.51,"width":52.510009765625,"height":4.630000114440918,"text":"Code Type"},{"top":502.76,"left":515.16,"width":27.790040969848633,"height":4.630000114440918,"text":"Score"}],[{"top":521.4,"left":48.82,"width":170.00570678710938,"height":3.700000047683716,"text":"D649 Anemia, unspecified"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":521.4,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":523.92,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":540.91,"left":48.82,"width":149.56167602539062,"height":3.700000047683716,"text":"E611 Iron deficiency"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":540.91,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":543.43,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":560.35,"left":48.82,"width":182.03341674804688,"height":3.700000047683716,"text":"I951 Orthostatic hypotension"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":560.35,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":562.87,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":579.86,"left":48.82,"width":293.56744384765625,"height":3.700000047683716,"text":"N920 Excessive and frequent menstruation with regular cycle"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":579.86,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":582.38,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":599.37,"left":48.82,"width":173.55569458007812,"height":3.700000047683716,"text":"R197 Diarrhea, unspecified"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":599.37,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":601.89,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":618.88,"left":48.82,"width":330.5780029296875,"height":3.700000047683716,"text":"R7889 Finding of other specified substances, not normally found in blood"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":618.88,"left":416.38,"width":23.782012939453125,"height":3.700000047683716,"text":"ICD10"},{"top":621.4,"left":526.1,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":640.71,"left":136.73,"width":51.96000671386719,"height":4.630000114440918,"text":"Test Name"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":640.71,"left":313.13,"width":37.510009765625,"height":4.630000114440918,"text":"Results"},{"top":640.71,"left":391.18,"width":83.08001708984375,"height":4.630000114440918,"text":"Reference Range"},{"top":640.71,"left":511.7,"width":27.789979934692383,"height":4.630000114440918,"text":"Score"}],[{"top":658.92,"left":48.82,"width":40.67200469970703,"height":3.700000047683716,"text":"GLUCOSE"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":658.92,"left":320.54,"width":22.46197509765625,"height":3.700000047683716,"text":"100 H"},{"top":658.92,"left":387.22,"width":46.022003173828125,"height":3.700000047683716,"text":"65-99 mg/dL"},{"top":658.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":676.92,"left":48.82,"width":111.7719955444336,"height":3.700000047683716,"text":"WHITE BLOOD CELL COUNT"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":676.92,"left":322.13,"width":19.342010498046875,"height":3.700000047683716,"text":"3.2 L"},{"top":676.92,"left":387.22,"width":79.38201904296875,"height":3.700000047683716,"text":"3.8-10.8 Thousand/uL"},{"top":676.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":694.92,"left":48.82,"width":20.211997985839844,"height":3.700000047683716,"text":"RDW"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":694.92,"left":319.46,"width":24.6920166015625,"height":3.700000047683716,"text":"15.6 H"},{"top":694.92,"left":387.22,"width":44.241973876953125,"height":3.700000047683716,"text":"11.0-15.0 %"},{"top":694.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}],[{"top":712.92,"left":48.82,"width":104.67198944091797,"height":3.700000047683716,"text":"ABSOLUTE NEUTROPHILS"},{"top":0.0,"left":0.0,"width":0.0,"height":0.0,"text":""},{"top":712.92,"left":318.74,"width":26.02203369140625,"height":3.700000047683716,"text":"1459 L"},{"top":712.92,"left":387.22,"width":68.70199584960938,"height":3.700000047683716,"text":"1500-7800 cells/uL"},{"top":712.92,"left":519.12,"width":4.449999809265137,"height":3.700000047683716,"text":"5"}]]}]

In [24]:
tabula.convert_into("redacted1.pdf", "test.tsv", output_format="tsv", 
                    pages='all', lattice=True, area=[0, 0, 50, 100],
                    relative_area=True,
                    )

WARNING:tabula.io:Got stderr: Oct 18, 2022 9:58:42 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Oct 18, 2022 9:58:42 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [25]:
!cat test.tsv

""
""
""
""
""
""
Prevalence"	Confidence	Contributing Factors
[Presence],Methadone,ESR"
Symp.,Sodium,Hydromorphone,Free T4"
Abnormalities of breathing	False	5.7%	57.2%	LE,HDL,Free T4 Index,GFR - MDRD
Other anemias	True	4.0%	52.2%	Total Bilirubin,ALP,Hemoglobin,D50-Anemia(Iron)
""
Encounter	Specimen	Service Date	High Score
26		2021-08-17	5
""
""
""
Test Name	Results	Reference Range	Score
HEMOGLOBIN	11.3 L	11.7-15.5 g/dL	5
RDW	16.5 H	11.0-15.0 %	5
Encounter	Specimen	Service Date	High Score
25		2021-06-23	5
""
Diagnosis Code	Description	Code Type	Score
D649	Anemia, unspecified	ICD10	5
D709	Neutropenia, unspecified	ICD10	5
Z79899	Other long term (current) drug therapy	ICD10	5
Test Name	Results	Reference Range	Score
IRON, TOTAL	31 L	40-190 mcg/dL	5
% SATURATION	8 L	16-45 % (calc)	5
""
""
""
Test Name	Results	Reference Range	Score
LEUKOCYTE ESTERASE	TRACE A	NEGATIVE	5
Encounter	Specimen	Service Date	High Score
22		2021-03-31	10
""
Diagnosis Code	Description	Code Type	Score
D649	Anemia, unspecified	ICD10	5
D72819	Decreased white blood cell count, unspecified	ICD10	5
Test Name	Results	Reference Range	Score
HEMOGLOBIN	11.4 L	11.7-15.5 g/dL	5
ABSOLUTE NEUTROPHILS	1460 L	1500-7800 cells/uL	5
BASOPHILS	1.5	%	10
Encounter	Specimen	Service Date	High Score
21	2021-01-05	5
""
Diagnosis Code		Description	Code Type	Score
D649	Anemi	, unspecified	ICD10	5
""
""
21
""
""
Test Name	Results	Reference Range	Score
EGG YOLK (F75) IGG	3.9 H	<2.0 mcg/mL	5
CASEIN (F78) IGG	4 H	<2.0 mcg/mL	5
PEA (F12) IGG	2.8 H	<2.0 mcg/mL	5
MAIZE/CORN (F8) IGG	4.9 H	<2.0 mcg/mL	5
YEAST (F45) IGG	3.6 H	<2.0 mcg/mL	5
Encounter	Specimen	Service Date	High Score
17		2020-07-10	5
""
""
""
Test Name	Results	Reference Range	Score
FERRITIN	8 L	16-154 ng/mL	5
CASHEW NUT (F202) IGG	2 H	<2.0 mcg/mL	5
WALNUT (F256) IGG	2.6 H	<2.0 mcg/mL	5
GLUTEN (F79) IGG	12.2 H	<2.0 mcg/mL	5
BETA LACTOGLOBULIN (F77) IGG	2.2 H	<2.0 mcg/mL	5
""
Test Name	Results	Reference Range	Score
HDL CHOLESTEROL	49 L	> OR = 50 mg/dL	5
Encounter	Specimen	Service Date	High Score
15		2020-07-10	10
""
Doctor Specialty	Score
Gastroenterology	5
Diagnosis Code	Description	Code Type	Score
K529	Noninfective gastroenteritis and colitis, unspecified	ICD10	5
Test Name	Results	Reference Range	Score
GLOBULIN	1.9	1.9-3.7 g/dL (calc)	10
ALT	6	6-29 U/L	10
C-REACTIVE PROTEIN	0.6	<8.0 mg/L	10
Encounter	Specimen	Service Date	High Score
14		2020-01-09	10
""
Diagnosis Code	Description	Code Type	Score
K76.0	Fatty (change of) liver, not elsewhere classified	ICD10	5
""
""
""
""
""
""
""
""
""
9		2018-03-20	5
""
Diagnosis Code	Description	Code Type	Score
M351	Other overlap syndromes	ICD10	5
Test Name	Results	Reference Range	Score
COMPLEMENT, TOTAL (CH50)	>60 H	31-60 U/mL	5
Encounter	Specimen	Service Date	High Score
8		2018-02-13	10
""
Diagnosis Code	Description	Code Type	Score
D802	Selective deficiency of immunoglobulin A [IgA]	ICD10	10
Test Name	Results	Reference Range	Score
ANA PATTERN	SPECKLED A		5
ANA TITER	1:160 H	<= 40 titer	5
ANA SCREEN, IFA	POSITIVE A	NEGATIVE	10
Encounter	Specimen	Service Date	High Score
7		2018-01-31	5
""
Diagnosis Code	Description	Code Type	Score
""
""
""
Test Name	Results	Reference Range	Score
APPEARANCE	TURBID A	CLEAR	5
OCCULT BLOOD	3+ A	NEGATIVE	5
RBC	20-40 A	< OR = 2 /HPF	5
SQUAMOUS EPITHELIAL CELLS	6-10 A	< OR = 5 /HPF	5
BACTERIA	FEW A	NONE SEEN /HPF	5
HYALINE CAST	1-3 A	NONE SEEN /LPF	5
Encounter	Specimen	Service Date	High Score
4		2018-01-11	5
""
Diagnosis Code	Description	Code Type	Score
R000	Tachycardia, unspecified	ICD10	5
Test Name	Results	Reference Range	Score
HEMOGLOBIN	10.6 L	11.7-15.5 g/dL	5
HEMATOCRIT	33.6 L	35.0-45.0 %	5
MCH	26.4 L	27.0-33.0 pg	5
""
""
""
Encounter	Specimen	Service Date	High Score
2		2016-10-06	10
""
Doctor Specialty	Score
Psychiatry & Neurology - Psychiatry	5
Diagnosis Code	Description	Code Type	Score
E55.9	Vitamin D deficiency, unspecified	ICD10	5
F33.41	Major depressive disorder, recurrent, in partial remission	ICD10	10
F41.1	Generalized anxiety disorder	ICD10	5
Test Name	Results	Reference Range	Score
Hemoglobin	10.7 L	11.1-15.9 g/dL	5
Hematocrit	33.8 L	34.0-46.6 %	5
MCH	25.2 L	26.6-33.0 pg	5
Encounter	Specimen	Service Date	High Score
1		2015-05-12	10
""
Doctor Specialty	Score
Neurology	5
""
""
""
""
""
I951	Orthostatic hypotension	ICD10	5
N920	Excessive and frequent menstruation with regular cycle	ICD10	5
Q7960	Ehlers-Danlos syndrome, unspecified	ICD10	0
R197	Diarrhea, unspecified	ICD10	5
R7889	Finding of other specified substances, not normally found in blood	ICD10	5
Test Name	Results	Reference Range	Score	Lab
IRON, TIBC AND FERRITIN PANEL
IRON AND TOTAL IRON BINDING CAPACITY	KS
IRON, TOTAL	60	40-190 mcg/dL	0
IRON BINDING CAPACITY	314	250-450 mcg/dL (calc)	0
% SATURATION	19	16-45 % (calc)	0
FERRITIN	72	16-154 ng/mL	0		KS
COMPREHENSIVE METABOLIC PANEL	KS
GLUCOSE	100 H	65-99 mg/dL	5
UREA NITROGEN (BUN)	9	7-25 mg/dL	0
CREATININE	0.81	0.50-1.10 mg/dL	0
""
Test Name	Results	Reference Range	Score	Lab
RED BLOOD CELL COUNT	3.99	3.80-5.10 Million/uL	0
HEMOGLOBIN	12.1	11.7-15.5 g/dL	0
HEMATOCRIT	36.4	35.0-45.0 %	0
MCV	91.2	80.0-100.0 fL	0
MCH	30.3	27.0-33.0 pg	0
MCHC	33.2	32.0-36.0 g/dL	0
RDW	15.6 H	11.0-15.0 %	5
PLATELET COUNT	280	140-400 Thousand/uL	0
MPV	9.5	7.5-12.5 fL	0
ABSOLUTE NEUTROPHILS	1459 L	1500-7800 cells/uL	5
ABSOLUTE LYMPHOCYTES	1414	850-3900 cells/uL	0
ABSOLUTE MONOCYTES	208	200-950 cells/uL	0
ABSOLUTE EOSINOPHILS	90	15-500 cells/uL	0
ABSOLUTE BASOPHILS	29	0-200 cells/uL	0
NEUTROPHILS	45.6	%	0
""
Test Name	Results	Reference Range	Score	Lab
C1 ESTERASE INHIBITOR, PROTEIN	23	21-39 mg/dL	0		SLI
further testing of C1 esterase inhibitor functional activity, if clinically indicated."
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63110-1032"	3147473975
""
Doctor Specialty	Score
Gastroenterology	5
General Practice	0
Hospitalist	0
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
D509	Iron deficiency anemia, unspecified	ICD10	5
K5904	Chronic idiopathic constipation	ICD10	5
R109	Unspecified abdominal pain	ICD10	0
R112	Nausea with vomiting, unspecified	ICD10	0
""
""
""
Doctor Specialty	Score
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
Not Provided	Not Provided
Test Name	Results	Reference Range	Score	Lab
IRON, TIBC AND FERRITIN PANEL
IRON AND TOTAL IRON BINDING CAPACITY	KS
IRON, TOTAL	79	40-190 mcg/dL	0
IRON BINDING CAPACITY	282	250-450 mcg/dL (calc)	0
% SATURATION	28	16-45 % (calc)	0
FERRITIN	112	16-154 ng/mL	0		KS
CBC (INCLUDES DIFF/PLT)	KS
WHITE BLOOD CELL COUNT	4	3.8-10.8 Thousand/uL	0
RED BLOOD CELL COUNT	3.85	3.80-5.10 Million/uL	0
HEMOGLOBIN	11.3 L	11.7-15.5 g/dL	5
HEMATOCRIT	35.3	35.0-45.0 %	0
""
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63141-6857"	3149949338
""
Doctor Specialty	Score
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
D649	Anemia, unspecified	ICD10	5
D709	Neutropenia, unspecified	ICD10	5
Z79899	Other long term (current) drug therapy	ICD10	5
""
""
Test Name	Results	Reference Range	Score	Lab
IRON, TIBC AND FERRITIN PANEL
IRON AND TOTAL IRON BINDING CAPACITY	KS
IRON, TOTAL	31 L	40-190 mcg/dL	5
IRON BINDING CAPACITY	399	250-450 mcg/dL (calc)	0
% SATURATION	8 L	16-45 % (calc)	5
FERRITIN	3 L	16-154 ng/mL	5		KS
""
Test Name	Results	Reference Range	Score	Lab
EOSINOPHILS	0.8	%	0
BASOPHILS	0.8	%	0
HEMOGLOBIN A1c	5.1	<5.7 % of total Hgb	0		KS
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63141-6857"	3149949338
""
Doctor Specialty	Score
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
D649	Anemia, unspecified	ICD10	5
D709	Neutropenia, unspecified	ICD10	5
""
""
Test Name	Results	Reference Range	Score	Lab
CBC (INCLUDES DIFF/PLT)	KS
WHITE BLOOD CELL COUNT	4.3	3.8-10.8 Thousand/uL	0
RED BLOOD CELL COUNT	3.63 L	3.80-5.10 Million/uL	5
""
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63141-6857"	3149949338
""
Doctor Specialty	Score
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
R300	Dysuria	ICD10	0
R350	Frequency of micturition	ICD10	0
""
""
Test Name	Results	Reference Range	Score	Lab
URINALYSIS, COMPLETE	SL
COLOR	YELLOW	YELLOW	0
APPEARANCE	CLEAR	CLEAR	0
SPECIFIC GRAVITY	1.019	1.001-1.035	0
PH	6	5.0-8.0	0
GLUCOSE	NEGATIVE	NEGATIVE	0
BILIRUBIN	NEGATIVE	NEGATIVE	0
""
Doctor Specialty	Score
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
D649	Anemia, unspecified	ICD10	5
D72819	Decreased white blood cell count, unspecified	ICD10	5
Test Name	Results	Reference Range	Score	Lab
CBC (INCLUDES DIFF/PLT)	KS
WHITE BLOOD CELL COUNT	4.1	3.8-10.8 Thousand/uL	0
RED BLOOD CELL COUNT	4.19	3.80-5.10 Million/uL	0
HEMOGLOBIN	11.4 L	11.7-15.5 g/dL	5
HEMATOCRIT	35.6	35.0-45.0 %	0
MCV	85	80.0-100.0 fL	0
MCH	27.2	27.0-33.0 pg	0
MCHC	32	32.0-36.0 g/dL	0
RDW	13.2	11.0-15.0 %	0
PLATELET COUNT	287	140-400 Thousand/uL	0
""
N920	Excessive and frequent menstruation with regular cycle	ICD10	5
Test Name	Results	Reference Range	Score	Lab
CBC (INCLUDES DIFF/PLT)	SL
WHITE BLOOD CELL COUNT	3.4 L	3.8-10.8 Thousand/uL	5
RED BLOOD CELL COUNT	3.81	3.80-5.10 Million/uL	0
HEMOGLOBIN	11.2 L	11.7-15.5 g/dL	5
HEMATOCRIT	33.6 L	35.0-45.0 %	5
MCV	88.2	80.0-100.0 fL	0
MCH	29.4	27.0-33.0 pg	0
MCHC	33.3	32.0-36.0 g/dL	0
RDW	13.1	11.0-15.0 %	0
PLATELET COUNT	311	140-400 Thousand/uL	0
MPV	10.2	7.5-12.5 fL	0
ABSOLUTE NEUTROPHILS	1754	1500-7800 cells/uL	0
ABSOLUTE LYMPHOCYTES	1350	850-3900 cells/uL	0
ABSOLUTE MONOCYTES	204	200-950 cells/uL	0
""
""
""
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
CHESTERFIELD, MO 63017-3509"	3145294900
""
Doctor Specialty	Score
Gastroenterology	5
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
K319	Disease of stomach and duodenum, unspecified	ICD10	0
K529	Noninfective gastroenteritis and colitis, unspecified	ICD10	5
Test Name	Results	Reference Range	Score	Lab
LACTOFERRIN, QL, STOOL	SL
COMMENT:
months), and patients having had a colostomy and/or ileostomy within 1 month."
LACTOFERRIN, STOOL
""
Test Name	Results	Reference Range	Score	Lab
EGG WHITE (F1) IGG	3.7 H	<2.0 mcg/mL	5		SLI
PEANUT (F13) IGG	4.3 H	<2.0 mcg/mL	5		SLI
SOYBEAN (F14) IGG	2.8 H	<2.0 mcg/mL	5		SLI
EGG YOLK (F75) IGG	3.9 H	<2.0 mcg/mL	5		SLI
CASEIN (F78) IGG	4 H	<2.0 mcg/mL	5		SLI
PEA (F12) IGG	2.8 H	<2.0 mcg/mL	5		SLI
ALMOND (F20) IGG	<2.0	<2.0 mcg/mL	0		SLI
MAIZE/CORN (F8) IGG	4.9 H	<2.0 mcg/mL	5		SLI
YEAST (F45) IGG	3.6 H	<2.0 mcg/mL	5		SLI
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
CHANHASSEN, MN 55317-4560"	6124998561
""
Doctor Specialty	Score
Family Practice	0
Diagnosis Code	Description	Code Type	Score
""
""
""
Test Name	Results	Reference Range	Score	Lab
ALBUMIN/GLOBULIN RATIO	2.2	1.0-2.5 (calc)	0
BILIRUBIN, TOTAL	0.5	0.2-1.2 mg/dL	0
ALKALINE PHOSPHATASE	42	31-125 U/L	0
AST	12	10-30 U/L	0
ALT	7	6-29 U/L	0
CBC (INCLUDES DIFF/PLT)	KS
WHITE BLOOD CELL COUNT	5.5	3.8-10.8 Thousand/uL	0
RED BLOOD CELL COUNT	4.04	3.80-5.10 Million/uL	0
HEMOGLOBIN	11.9	11.7-15.5 g/dL	0
HEMATOCRIT	36.8	35.0-45.0 %	0
MCV	91.1	80.0-100.0 fL	0
MCH	29.5	27.0-33.0 pg	0
MCHC	32.3	32.0-36.0 g/dL	0
RDW	13.4	11.0-15.0 %	0
PLATELET COUNT	295	140-400 Thousand/uL	0
""
Test Name	Results	Reference Range	Score	Lab
PEANUT (F13) IGG	4.3 H	<2.0 mcg/mL	5		SLI
SOYBEAN (F14) IGG	2.8 H	<2.0 mcg/mL	5		SLI
EGG YOLK (F75) IGG	3.9 H	<2.0 mcg/mL	5		SLI
CASEIN (F78) IGG	4 H	<2.0 mcg/mL	5		SLI
PEA (F12) IGG	2.8 H	<2.0 mcg/mL	5		SLI
ALMOND (F20) IGG	<2.0	<2.0 mcg/mL	0		SLI
MAIZE/CORN (F8) IGG	4.9 H	<2.0 mcg/mL	5		SLI
YEAST (F45) IGG	3.6 H	<2.0 mcg/mL	5		SLI
VITAMIN D,25-OH,TOTAL,IA	25 L	30-100 ng/mL	5		KS
""
""
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
CHESTERFIELD, MO 63017"	3142056444
""
Doctor Specialty	Score
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
""
Doctor Specialty	Score
Internal Medicine	0
Diagnosis Code	Description	Code Type	Score
K319	Disease of stomach and duodenum, unspecified	ICD10	0
K529	Noninfective gastroenteritis and colitis, unspecified	ICD10	5
Test Name	Results	Reference Range	Score	Lab
COMPREHENSIVE METABOLIC PANEL	KS
GLUCOSE	93	65-99 mg/dL	0
UREA NITROGEN (BUN)	12	7-25 mg/dL	0
CREATININE	0.7	0.50-1.10 mg/dL	0
mL/min/1.73m2"	0
mL/min/1.73m2"	0
BUN/CREATININE RATIO	NOT APPLICABLE	6-22 (calc)	0
SODIUM	139	135-146 mmol/L	0
POTASSIUM	4	3.5-5.3 mmol/L	0
0
0
""
Test Name	Results	Reference Range	Score	Lab
RDW	13.6	11.0-15.0 %	0
PLATELET COUNT	287	140-400 Thousand/uL	0
MPV	10	7.5-12.5 fL	0
ABSOLUTE NEUTROPHILS	2634	1500-7800 cells/uL	0
ABSOLUTE LYMPHOCYTES	2168	850-3900 cells/uL	0
ABSOLUTE MONOCYTES	281	200-950 cells/uL	0
ABSOLUTE EOSINOPHILS	170	15-500 cells/uL	0
ABSOLUTE BASOPHILS	48	0-200 cells/uL	0
NEUTROPHILS	49.7	%	0
LYMPHOCYTES	40.9	%	0
MONOCYTES	5.3	%	0
EOSINOPHILS	3.2	%	0
BASOPHILS	0.9	%	0
C-REACTIVE PROTEIN	0.6	<8.0 mg/L	10		KS
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
""
Diagnosis Code	Description	Code Type	Score
Not Provided	Not Provided
Test Name	Results	Reference Range	Score	Lab
Thyroid Antibodies
Thyroid Peroxidase (TPO) Ab	9	0-34 IU/mL	0		L-CB
Thyroglobulin Antibody	<1.0	0.0-0.9 IU/mL	0		L-CB
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
12			2019-12-11	KIM,V		Not Provided
""
Doctor Specialty	Score
Internal Medicine - Obesity Medicine	5
Diagnosis Code	Description	Code Type	Score
Not Provided	Not Provided
""
""
Test Name	Results	Reference Range	Score	Lab
Complement C4, Serum
Complement C4, Serum	20	14-44 mg/dL	0		L-CB
""
Diagnosis Code	Description	Code Type	Score
N890	Mild vaginal dysplasia	ICD10	0
R300	Dysuria	ICD10	0
Test Name	Results	Reference Range	Score	Lab
CHLAMYDIA/N. GONORRHOEAE RNA, TMA, UROGENITAL	KS
UROGENITAL"	NOT DETECTED	NOT DETECTED	0
UROGENITAL"	NOT DETECTED	NOT DETECTED	0
0
0
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
CHESTERFIELD, MO 63017"	3142056984
Doctor Specialty	Score
Not Provided
Diagnosis Code	Description	Code Type	Score
Not Provided	Not Provided
""
Test Name	Results	Reference Range	Score	Lab
""
Test Name	Results	Reference Range	Score	Lab
SJOGREN'S ANTIBODY (SS-B)	<1.0 NEG	<1.0 NEG AI	0
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63124-1874"	3148018898
""
Doctor Specialty	Score
Family Practice	0
Nurse - Practitioner	0
Nurse Practitioner - Family Practice	0
Diagnosis Code	Description	Code Type	Score
M351	Other overlap syndromes	ICD10	5
""
""
Test Name	Results	Reference Range	Score	Lab
C3, C4, COMPLEMENT CH50
COMPLEMENT COMPONENT C3C	137	83-193 mg/dL	0		KS
COMPLEMENT COMPONENT C4C	23	15-57 mg/dL	0		KS
COMPLEMENT, TOTAL (CH50)	>60 H	31-60 U/mL	5		KS
""
Test Name	Results	Reference Range	Score	Lab
ANA SCREEN, IFA, W/REFL TITER AND PATTERN	KS
ANA SCREEN, IFA	POSITIVE A	NEGATIVE	10
RNP ANTIBODY	<1.0 NEG	<1.0 NEG AI	0		KS
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63124-1874"	3148018898
""
Doctor Specialty	Score
Family Practice	0
Nurse - Practitioner	0
Nurse Practitioner - Family Practice	0
Diagnosis Code	Description	Code Type	Score
K580	Irritable bowel syndrome with diarrhea	ICD10	0
K589	Irritable bowel syndrome without diarrhea	ICD10	0
N029	Recurrent and persistent hematuria with unspecified morphologic changes	ICD10	5
""
""
Test Name	Results	Reference Range	Score	Lab
""
R000	Tachycardia, unspecified	ICD10	5
R5383	Other fatigue	ICD10	0
Test Name	Results	Reference Range	Score	Lab
IRON AND TOTAL IRON BINDING CAPACITY	KS
IRON, TOTAL	22 L	40-190 mcg/dL	5
IRON BINDING CAPACITY	386	250-450 mcg/dL (calc)	0
% SATURATION	6 L	11-50 % (calc)	5
IMMUNOGLOBULIN G	831	694-1618 mg/dL	0		KS
IMMUNOGLOBULIN A (REFL)	KS
IMMUNOGLOBULIN A	67 L	81-463 mg/dL	5
HOMOCYSTEINE	6.2	<10.4 umol/L	0		KS
enytoin, and"
T3, TOTAL	109	76-181 ng/dL	0		KS
T4, FREE	1	0.8-1.8 ng/dL	0		KS
TSH	1.95	0.4-4.5 mIU/L	0		KS
""
Test Name	Results	Reference Range	Score	Lab
HLA DQ8	Negative		0
HLA VARIANTS DETECTED: HLA DQA1*	1		0
HLA DQA1*	3		0
HLA DQB1*	303		0
HLA DQB1*	501		0
RESULTS REVIEWED BY:	see note
specific oligonucleotide probes (SSO) using the FDA-cleared LABType(R) SSO Kit."
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63124-1874"	3148018898
""
Doctor Specialty	Score
Family Practice	0
Nurse - Practitioner	0
Nurse Practitioner - Family Practice	0
Diagnosis Code	Description	Code Type	Score
""
""
""
Test Name	Results	Reference Range	Score	Lab
CALCIUM OXALATE CRYSTALS	FEW	NONE OR FEW /HPF	0
AMORPHOUS SEDIMENT	FEW	NONE OR FEW /HPF	0
HYALINE CAST	1-3 A	NONE SEEN /LPF	5
Encounter	Specimen	Service Date	Doctor Name	Location	Phone
SAINT LOUIS, MO 63124-1874"	3148018898
""
Doctor Specialty	Score
Family Practice	0
Nurse - Practitioner	0
Nurse Practitioner - Family Practice	0
Diagnosis Code	Description	Code Type	Score
R000	Tachycardia, unspecified	ICD10	5
""
""
Test Name	Results	Reference Range	Score	Lab
COMPREHENSIVE METABOLIC PANEL	KS
GLUCOSE	93	65-99 mg/dL	0
""
Test Name	Results	Reference Range	Score	Lab
CBC (INCLUDES DIFF/PLT)	KS
WHITE BLOOD CELL COUNT	5.7	3.8-10.8 Thousand/uL	0
RED BLOOD CELL COUNT	4.01	3.80-5.10 Million/uL	0
HEMOGLOBIN	10.6 L	11.7-15.5 g/dL	5
HEMATOCRIT	33.6 L	35.0-45.0 %	5
MCV	83.8	80.0-100.0 fL	0
MCH	26.4 L	27.0-33.0 pg	5
MCHC	31.5 L	32.0-36.0 g/dL	5
RDW	14.7	11.0-15.0 %	0
PLATELET COUNT	317	140-400 Thousand/uL	0
MPV	9.8	7.5-12.5 fL	0
ABSOLUTE NEUTROPHILS	2628	1500-7800 cells/uL	0
ABSOLUTE LYMPHOCYTES	2377	850-3900 cells/uL	0
ABSOLUTE MONOCYTES	450	200-950 cells/uL	0
ABSOLUTE EOSINOPHILS	182	15-500 cells/uL	0
""
Test Name	Results	Reference Range	Score	Lab
MAGNESIUM	2.1	1.5-2.5 mg/dL	0		KS
IRON AND TOTAL IRON BINDING CAPACITY	KS
IRON, TOTAL	20 L	40-190 mcg/dL	5
IRON BINDING CAPACITY	383	250-450 mcg/dL (calc)	0
% SATURATION	5 L	11-50 % (calc)	5
COMPREHENSIVE METABOLIC PANEL	KS
GLUCOSE	89	65-99 mg/dL	0
UREA NITROGEN (BUN)	10	7-25 mg/dL	0
CREATININE	0.72	0.50-1.10 mg/dL	0
mL/min/1.73m2"	0
mL/min/1.73m2"	0
BUN/CREATININE RATIO	NOT APPLICABLE	6-22 (calc)	0
SODIUM	140	135-146 mmol/L	0
POTASSIUM	4.3	3.5-5.3 mmol/L	0
CHLORIDE	104	98-110 mmol/L	0
0
0
""
Test Name	Results	Reference Range	Score	Lab
PLATELET COUNT	323	140-400 Thousand/uL	0
MPV	7.5	7.5-12.5 fL	0
ABSOLUTE NEUTROPHILS	4004	1500-7800 cells/uL	0
ABSOLUTE LYMPHOCYTES	1305	850-3900 cells/uL	0
ABSOLUTE MONOCYTES	190 L	200-950 cells/uL	5
ABSOLUTE EOSINOPHILS	73	15-500 cells/uL	0
ABSOLUTE BASOPHILS	28	0-200 cells/uL	0
NEUTROPHILS	71.5	%	0
LYMPHOCYTES	23.3	%	0
MONOCYTES	3.4	%	0
EOSINOPHILS	1.3	%	0
BASOPHILS	0.5	%	0
THYROID PEROXIDASE AND THYROGLOBULIN ANTIBODIES
THYROGLOBULIN ANTIBODIES	1	< or = 1 IU/mL	0		KS
THYROID PEROXIDASE ANTIBODIES	1	<9 IU/mL	0		KS
""
Test Name	Results	Reference Range	Score	Lab
Hematocrit	33.8 L	34.0-46.6 %	5		L-CB
MCV	80	79-97 fL	0		L-CB
MCH	25.2 L	26.6-33.0 pg	5		L-CB
MCHC	31.7	31.5-35.7 g/dL	0		L-CB
Neutrophils	44	%	0		L-CB
Immature Granulocytes	0	%	0		L-CB
Lymphs	44	%	0		L-CB
Monocytes	7	%	0		L-CB
Eos	4	%	0		L-CB
Basos	1	%	0		L-CB
Platelets	316	150-379 x10E3/uL	0		L-CB
Hematology Comments:					L-CB
Neutrophils (Absolute)	2.3	1.4-7.0 x10E3/uL	0		L-CB
Immature Grans (Abs)	0	0.0-0.1 x10E3/uL	0		L-CB
Lymphs (Absolute)	2.2	0.7-3.1 x10E3/uL	0		L-CB
""
Diagnosis Code	Description	Code Type	Score
29632	Major depressive affective disorder, recurrent episode, moderate	ICD9	10
30002	Generalized anxiety disorder	ICD9	5
78079	Other malaise and fatigue	ICD9	0
Test Name	Results	Reference Range	Score	Lab
COMPREHENSIVE METABOLIC PANEL	KS
GLUCOSE	91	65-99 mg/dL	0
UREA NITROGEN (BUN)	12	7-20 mg/dL	0
CREATININE	0.73	0.50-1.00 mg/dL	0
mL/min/1.73m2"	0
mL/min/1.73m2"	0
BUN/CREATININE RATIO	NOT APPLICABLE	6-22 (calc)	0
SODIUM	137	135-146 mmol/L	0
POTASSIUM	4.2	3.8-5.1 mmol/L	0
CHLORIDE	103	98-110 mmol/L	0
0
0
""
Test Name	Results	Reference Range	Score	Lab
PLATELET COUNT	299	140-400 Thousand/uL	0
MPV	7.8	7.5-11.5 fL	0
ABSOLUTE NEUTROPHILS	2798	1800-8000 cells/uL	0
ABSOLUTE LYMPHOCYTES	2157	1200-5200 cells/uL	0
ABSOLUTE MONOCYTES	223	200-900 cells/uL	0
ABSOLUTE EOSINOPHILS	85	15-500 cells/uL	0
ABSOLUTE BASOPHILS	37	0-200 cells/uL	0
NEUTROPHILS	52.8	%	0
LYMPHOCYTES	40.7	%	0
MONOCYTES	4.2	%	0
EOSINOPHILS	1.6	%	0
BASOPHILS	0.7	%	0
VITAMIN B12/FOLATE, SERUM PANEL	KS

In [26]:
import pandas as pd
import json

In [30]:
master_df = pd.read_csv('test.tsv', sep='\s+', encoding='utf-8', on_bad_lines='skip')

In [31]:
out_file = master_df.to_json('test.json', date_format='iso', orient='records')

In [32]:
!cat test.json

[{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"21"},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"A normal C1 esterase inhibitor protein level does not rule out the possibility of a functional C1 esterase inhibitor deficiency. Consider\rfurther testing of C1 esterase inhibitor functional activity, if clinically indicated."},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"COMMENT:"},{"Unnamed: 0":"Lactoferrin in the stool is a marker for fecal leukocytes and is a non-specific indicator of intestinal inflammation that may be detected in\rpatients with acute infectious colitis or inflammatory bowel disease. The diagnosis of an acute infectious process or active IBD cannot be\restablished solely on the basis of a positive result. This test may not be appropriate for immunocompromised persons. In addition, this\rtest is not FDA cleared for patients with a history of HIV and\/or Hepatitis B and C, patients with a history of infectious diarrhea (within 6\rmonths), and patients having had a colostomy and\/or ileostomy within 1 month."},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"0"},{"Unnamed: 0":"0"},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"0"},{"Unnamed: 0":"0"},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"Kasinathan Muralidharan, Ph.D., FACMG Director, Molecular Genetics  Typing performed by PCR and hybridization with sequence\rspecific oligonucleotide probes (SSO) using the FDA-cleared LABType(R) SSO Kit."},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"0"},{"Unnamed: 0":"0"},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":null},{"Unnamed: 0":"0"},{"Unnamed: 0":"0"},{"Unnamed: 0":null},{"Unnamed: 0":null}]